*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
}

.container {
     width: 400px;
    margin: auto;

}
.container > header {
    margin-top: 45px;
    margin-bottom: 128px;
    text-align: center;
}

.title h3 {
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #2D3748;
}
.title h1 {
    font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 39px;
color: #1A202C;
margin-top: 16px;

}
.title {
    text-align: center;
    margin-bottom: 36px;
}
#form_signin div label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
    margin-bottom: 11px;
    margin-top: 12px;
    text-align: left;
}
#form_signin input {
    width: 400px;
height: 50px;
border: 1px solid #37A9CD;
border-radius: 5px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #C4C4C4;
padding:17px;
}
#form_signin div {
    margin-top: 12px;
}


#login {
width: 400px;
height: 50px;
background: #37A9CD;
border-radius: 5px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
border: #37A9CD;
color: #FFFFFF;
margin-top: 30px;
margin-bottom: 15px;
}

#gg {
border: #2D3748;
width: 400px;
height: 50px;
background: #2D3748;
border-radius: 5px;

margin-bottom: 32px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

}
#gg img {

margin-right: 15px;
background-color: #2D3748;
}
#gg div {

width: 203px;
text-align: center;
align-items: center;
display: flex;
background-color: #2D3748;
color:#FFFFFF;
margin: auto;
}
.support {
text-align: center;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
}
.support div {
margin-bottom: 16px;
}
.support div a {
text-decoration: none;
color: #37A9CD;
}
.menu-header ul {
    display: flex;
    list-style: none;

}